body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}
.top-banner{
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
}
.right{
    padding-right: 130px;
}
.dream-big{
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}