body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: orange;
}
.flex-item{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
    transition: 0.5s ease;
}
.link-button:hover{
    background-image: linear-gradient(#ff2ff2, #111);
}
.top-banner{
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
}
.right{
    padding-right: 130px;
}
.dream-big{
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 45px grey;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.full-stack-dev{
   border-image: linear-gradient(tomato, orange);
   border-image-slice: 1;
   border-left: 5px solid;
}
.web-dev-exp{
    border-image: linear-gradient(blue, green);
   border-image-slice: 1;
   border-left: 5px solid;
}
footer{
    background-color: #262626;
    padding: 10px;
}
footer p{
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 0;
}
footer p span{
    color: crimson;
}